
<div>
 <form>
  <table>
   <center><h3 style="font-size: 40px">Register Here</h3><br></center>
    <table>
   
 <center> <tr>
 <td>username:  </td>
  <td><input type="text" class="form-control"  name="username" placeholder="username" required=""  ng-model="username"></td><td><br></br></td>
 
 </tr>
   <tr>
  <td>Email:  </td>
  <td><input type=text" class="form-control" name="email" placeholder="Email" required="" autofocus=""  ng-model="email"></td>
  <td><br></br></td>
  </tr>
 <tr>
  <td>password:  </td>
  <td><input type="password" class="form-control" name="password" placeholder="password" required=""  ng-model="password"></td>
  
 <td><br></br></td>
  </tr>
  <tr>
  <td>DOB:  </td>
  <td><input type="text" class="form-control" name="dob" placeholder="DOB" required=""  ng-model="dob"></td>
 
 <td><br></br></td>
  </tr>
  <tr>
  <td>address:  </td>
  <td><input type="text" class="form-control" name="address" placeholder="Address" required=""   ng-model="address"></td>
  <td><br></br></td>
  </tr>
   <tr>
  <td>State:  </td>
  <td><input type=text" class="form-control" name="state" placeholder="state" required=""  ng-model="state"></td>
  <td><br></br></td>
  </tr>
 
  <tr><td>      <button class="btn btn-lg btn-success btn-block"  ng-click="register()">Register</button></td></tr>
 </table></center>
  </form>
  </div>
  